#navbar {
    border: 1px solid;
}

#navbar_title {
    font-size: 30px;
}
#body {
    background-image: url('https: //encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKbTy1qxoUjj3vjbxbNP_fUNr8BKZ6JIKH4A&usqp=CAU');
}